



html,body, .App, #root{
  height:100%;
}



h1{
  margin:0;
  font-size:64px;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}

h3{
  font-size:54px;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
  margin-bottom:0;
}

.desc h3{
  margin-top:0;
  margin-bottom:15px;
}
span{
  font-size:26px;
  font-weight:900;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.weather-list{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  width:70%;
  margin:100px auto;
}

.weather-card{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}


.min-max{
  display: flex;
width: 15%;
margin: 0 auto;
justify-content: space-between;
}

.svg{
  width: 128px;
  height: 128px;
}


.search-bar{
  display:flex;
  width:100%;
  margin: 0 auto;
}

.search-input{
  width: 100%;
  border-right: none;
  padding: 5px;
  border-radius: 10px 0 0 0px;
  outline: none;
  color: #fff;
  border:none;
  background:rgba(0,0,0,.8);
}

.search-btn{
  width: 40px;
  height: 36px;
  text-align: center;
  color: #fff;
  border-radius: 0 10px 0px 0;
  cursor: pointer;
  background:transparent;
  border:none;
  font-size: 0px;
  background-image: url("./icons/search.svg");
  background-size:50%;
  background-repeat:no-repeat;
  background-position:center;
  filter:invert(1);
  background-color:rgba(255,255,255,.8);
}

.form-wrapper{
  width:20%;
  z-index:30;
}


ul{
  list-style:none;
  padding:0px;
  text-align:center;
}

::-webkit-input-placeholder {
  color:#fff;
  opacity:1;
}

::-moz-placeholder {
  color:#fff;
  opacity:1;
}

::-ms-placeholder {
  color:#fff;
  opacity:1;
}

::placeholder {
  color:#fff;
  opacity:1;
}

.city-list{
  text-align:left;
  margin-top:0;
  border-top:none;
  background:transparent;
  background-color:rgba(0,0,0,.8);
  position: absolute;
  width: 20%;
}

.city-list > li{
  padding:5px 0px 5px 0px;
  
}

.city-list > li:hover{
  cursor:pointer;
  background: rgba(0,0,0,.1);
}

.city-list > li span{
  margin-right:10px;
  font-size:20px;
  color:#fff;
  margin-left:10px;
  
}

.hardCold{
  background: rgb(155,199,234);
  background: linear-gradient(90deg, rgba(155,199,234,1) 8%, rgba(101,145,178,1) 47%, rgba(106,132,154,1) 70%, rgba(62,72,81,1) 100%);
}

.lightCold{
  background: rgb(175,164,200);
  background: linear-gradient(90deg, rgba(175,164,200,1) 0%, rgba(114,123,159,1) 55%, rgba(47,78,115,1) 100%);
}

.neutral{
  background: rgb(216,200,216);
  background: linear-gradient(90deg, rgba(216,200,216,1) 6%, rgba(187,191,222,1) 19%, rgba(210,143,154,1) 43%, rgba(240,154,151,1) 59%, rgba(236,173,164,1) 70%, rgba(240,194,191,1) 83%, rgba(235,196,202,1) 87%, rgba(242,207,213,1) 95%, rgba(247,226,229,1) 100%);
}

.lightHot{
  background: rgb(255,126,90);
background: linear-gradient(90deg, rgba(255,126,90,1) 14%, rgba(249,118,118,1) 38%, rgba(242,137,156,1) 66%, rgba(244,152,133,1) 77%, rgba(255,216,114,1) 91%);
}

.hardHot{
  background: rgb(224,91,54);
background: linear-gradient(90deg, rgba(224,91,54,1) 15%, rgba(226,79,79,1) 38%, rgba(226,100,122,1) 65%, rgba(232,119,96,1) 77%, rgba(222,172,43,1) 100%);
}

.App {
  text-align: center;
  color:#fff;
  background-size:400%;
  animation: bg-animation 10s infinite alternate;
  display:flex;
  flex-direction:column;
    overflow:auto;
    height: 100%;
    justify-content: center;
  align-items:center;
}

.container{
  width:100%;
}

@keyframes bg-animation {
  0% {background-position: left}
  100%{background-position: right;}
}


@media (max-width:1366px){
  h3{
    margin:0;
  }
  
  .weather-list{
    margin: 50px auto;
  }
  
  span{
    font-size:22px;
  }
  
  .weather-card img{
    width:96px;
    height:96px;
  }
  
  h1, h3{
    font-size:50px;
  }
}

@media (max-width:768px){

  .App{
    justify-content: space-between;
  }

  .min-max{
    width:60%;
  }

  .weather-list{
    width:100%;
    justify-content: space-evenly;
    flex-wrap:wrap;
    
  }

  .weather-list > .weather-card{
    margin:5px;
  }

  .form-wrapper{
    width:60%;
  }
  .city-list{
    width:60%;
  }

  .weather-card img{
    width:80px;
    height:80px;
  }

  h1, h3{
    font-size:48px;
  }

  span{
    font-size:20px;
  }
}
